<html>
  <head>
  	<h1>TO DO LIST</h1>
  </head>


<body style="background-color:rgb(40, 42, 54);">

  
  <table>
  	<!--Entità tabella-->
    <tr>
    	<!--Header delle colonne-->
      <th>Nome</th>
      <th>Scadenza</th>
    </tr>
    <tr>
    	<!--Contenuto prima riga-->
      <td>Alfreds Futterkiste</td>
      <td>Maria Anders</td>
    </tr>
    <tr>
   	<!--Contenuto seconda riga-->
      <td>Centro comercial Moctezuma</td>
      <td>Francisco Chang</td>
    </tr>
  </table>
  </p>
</html>
